[data-section-theme="dark"] {
  --text-color: var(--color-white); /* Redefine the custom property text-color */
  --section-title-color: var(--color-white); /* Redefine the section-title-color */
  background-color: var(--color-black); /* Set the background to the variable color-black */
}
